<html>
<style>
    body {
        text-align: center;
    }
</style>

<body>
    <h1>Counter</h1>

    <h2><%= num%></h2>

    <form action='/' method='post'>
        <button type="submit">Add two</button>
    </form>

    <form action='/reset' method='post'>
        <button type="submit">reset</button>
    </form>
</body>

</html>