<html>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <div class="container">
        <h1>Dojo Survey</h1>
        <br/>
        <br/>
        <br/>
<style>
    body {
        text-align: center;
    }
</style>

<body>
    <form action='/user' method='post'>
        <label>Name</label> 
        <input type='text'class="form-control" name='name'>
        <label>Age</label> 
        <input type='text'class="form-control" name='age'>
       
        <button type="submit">Submit</button>
    </form>
    <% for (var user of users) { %>
        <li><%= user.name %></li>
        <li><%= user.age %></li>
        <% } %>
</body>

</html>