<html>
        <style>
                body{
                    text-align: center;
                }
                h1{
                    background-color: pink;
            
                }
                img{
                    border-radius: 70px;
                }
                </style>
                <body>
                
            <h1>EJS Cats</h1>
            <a href="/cuddles">
        <img src="./images/cat1.jpg">
    </a>
            <a href="/blue">
        <img src="./images/cat2.jpg">
    </a>
            <a href="/velvet">
        <img src="./images/cat1.jpg">
    </a>
       
    </body>
</html>