<html>
    <body>  
    <form>
            Model:<br>
            <input type="text" ><br>
            Year:<br>
            <input type="text" ><br>
            Color:<br>
            <input type="text" ><br>
            <button>Add</button>
          </form>   
</body></html>