<html>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <div class="container">
        <h1>Here are the awesome qoutes</h1>
        <br/>
        <br/>
        <br/>
<style>
    body {
        text-align: center;
    }
</style>

<body>
<% for (var qoute of qoutes){ %>
<h1> "<%= qoute.qoute%>" </h1>
<li><%= qoute.name%> at <%= qoute.date%> </li>

<%}%>



</body>

</html>